body {
	box-sizing: border-box;
	max-width: 1024px;
	margin: 0 auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#canvas_container {
	margin-bottom: 20px;
}

canvas {
	max-width: 480px;
	max-height: 480px;
	margin-right: 10px;
}

#header {
	font-family: 'Oswald', sans-serif;
	font-size: 64px;
	letter-spacing: -4px;
	margin-bottom: 20px;
}

#header a {
	color: #000000;
	text-decoration: none;
}

#header a:hover {
	color: rgb(100, 100, 100);
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	margin: 0 0 10px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin: 0 0 10px;
}

.section {
	margin-bottom: 20px;
	background-color: rgb(230, 230, 230);
	letter-spacing: normal;
	padding: 8px;
}

.section a {
	color: rgb(20, 20, 20);
}

.section a:hover {
	color: rgb(60, 60, 60);
}

#sample_images {
	margin-bottom: 20px;
}

#sample_images img {
	border: solid 3px #000000;
	float: left;
	max-width: 160px;
	max-height: 140px;
	margin-right: 6px;
	margin-top: 6px;
	cursor: pointer;
}

#sample_images img:hover {
	border: solid 3px rgb(60, 60, 60);
}

#button_browse {
	color: white;
	background-color: black;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	cursor: pointer;
}

#button_browse:hover {
	background-color: rgb(60, 60, 60);
}

#fileInfo {
	margin: 14px;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}
